trigger:
- master

pool:
  name: default

strategy:
  matrix:
    Python36:
      python.version: '3.6'
    Python37:
      python.version: '3.7'
    Python38:
      python.version: '3.8'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    python -m pip install --upgrade pip
    pip install  -r requirements.txt
    pip install pytest pytest-azurepipelines coverage
  displayName: 'Install dependencies'
  env: 
    HTTPS_PROXY: $(var_http_proxy)

- script: |
    curl --header "Authorization: token %TOKEN%" --output extratests.zip -L https://github.com/equinor/tagreader-python-extra-tests/archive/master.zip 
    rmdir /S /Q extratests
    unzip -o -j -d extratests extratests.zip */tests/*.py
  displayName: 'Fetch extratests'
  env: 
    HTTPS_PROXY: $(var_http_proxy)
    TOKEN: $(github_token)

- script: |
    coverage erase
    coverage run -m pytest tests extratests --junitxml=junit/test-results.xml 
    coverage xml --include='tagreader/*'
  displayName: 'Run tests'
  env: 
    HTTPS_PROXY: $(var_http_proxy)

- task: PublishCodeCoverageResults@1
  inputs:
    codeCoverageTool: Cobertura
    summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'

- task: PublishTestResults@2
  condition: succeededOrFailed()
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/test-*.xml'
    testRunTitle: 'Publish test results for Python $(python.version)'
