trigger:
- master

pool:
  name: default

strategy:
  matrix:
    Python36:
      python.version: '3.6'
#    Python37:
#      python.version: '3.7'
#    Python38:
#      python.version: '3.8'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
    pip install pytest pytest-azurepipelines coverage
  displayName: 'Install dependencies'
  env: 
    HTTPS_PROXY: $(var_http_proxy)

- script: |
    curl --silent --show-error --header "Authorization: token %TOKEN%" --output extratests.zip --location https://github.com/equinor/tagreader-python-extra-tests/archive/master.zip 
    rmdir /S /Q extratests
    unzip -o -j -d extratests extratests.zip */tests/*.py
  displayName: 'Fetch extratests'
  env: 
    HTTPS_PROXY: $(var_http_proxy)
    TOKEN: $(github_token)

- script: |
    coverage erase
    coverage run -m pytest tests extratests
    coverage xml --include='tagreader/*'
  condition: eq(variables.python.version, '3.6')
  displayName: 'Run tests with coverage'
  env: 
    HTTPS_PROXY: $(var_http_proxy)

- script: |
    pytest tests extratests
  condition: not(eq(variables.python.version, '3.6'))
  displayName: 'Run tests'
  env: 
    HTTPS_PROXY: $(var_http_proxy)

- task: PublishCodeCoverageResults@1
  condition: eq(variables.python.version, '3.6')
  inputs:
    codeCoverageTool: Cobertura
    summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
