# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

#trigger:
#- master

pool:
  name: default
#  vmImage: 'windows-latest'
strategy:
  matrix:
    Python36:
      python.version: '3.6'
    Python37:
      python.version: '3.7'
    Python38:
      python.version: '3.8'


steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    python -m pip install --upgrade pip
    pip install  -r requirements.txt
  displayName: 'Install dependencies'
  env: 
    HTTPS_PROXY: $(var_http_proxy)

- script: |
    pip install -r test-requirements.txt
    pip install pytest-azurepipelines
    curl --header "Authorization: token %TOKEN%" --output extratests.zip -L https://github.com/equinor/tagreader-python-extra-tests/archive/master.zip 
    rmdir /SQ extratests
    unzip -o -j -d extratests extratests.zip */tests/test_*.py
    pytest
  displayName: 'pytest'
  env: 
    HTTPS_PROXY: $(var_http_proxy)
    TOKEN: $(github_token)

