trigger:
- master

pool:
  name: default

strategy:
  matrix:
    Python36:
      python.version: '3.6'
    Python37:
      python.version: '3.7'
    Python38:
      python.version: '3.8'
    Python39:
      python.version: '3.9'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
    pip install pytest pytest-xdist
  displayName: 'Install dependencies'
  env: 
    HTTPS_PROXY: $(var_http_proxy)

- script: |
    pip install pytest-cov pytest-azurepipelines
    pytest --cov=tagreader --cov-report=xml
  condition: and(succeeded(), eq(variables['python.version'], '3.6'))
  displayName: 'Run tests with coverage'
  env: 
    HTTPS_PROXY: $(var_http_proxy)

- script: |
    echo $(python.version)
    pytest
  condition: and(succeeded(), not(eq(variables['python.version'], '3.6')))
  displayName: 'Run tests'
  env: 
    HTTPS_PROXY: $(var_http_proxy)

- task: PublishCodeCoverageResults@1
  condition: and(succeeded(), eq(variables['python.version'], '3.6'))
  inputs:
    codeCoverageTool: Cobertura
    summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
